@media screen and (min-width: 768px){

	/* Styles before scroll */ 
	#custom-nav {
		background-color: rgba(0,0,0,0);
	    border: 0;
	    box-shadow: none;
	    z-index: 999;
	    -webkit-font-smoothing: antialiased;
	    -moz-osx-font-smoothing: grayscale;
	    -webkit-transition: background .5s ease-in-out, opacity .5s ease;
	    -moz-transition: background .5s ease-in-out, opacity .5s ease;
	    transition: background .5s ease-in-out, opacity .5s ease;
	}

	#custom-nav .container {
	    padding-top: 20px;
	   	padding-bottom: 20px;
	   	-webkit-transition: padding-top .5s ease, padding-bottom .5s ease;
	    -moz-transition: padding-top .5s ease, padding-bottom .5s ease;
	    transition: padding-top .5s ease, padding-top .5s ease, padding-bottom .5s ease;
	}

	/* Styles after scroll */ 
	#custom-nav.affix {
	    top: 0;
	    min-width: 100%;
	    -webkit-transition: background .5s ease-in-out, opacity .5s ease;
	    -moz-transition: background .5s ease-in-out, opacity .5s ease;
	    transition: background .5s ease-in-out, opacity .5s ease;
	}

	#custom-nav.affix .container {
	    -webkit-transition: padding-top .5s ease, padding-bottom .5s ease;
	    -moz-transition: padding-top .5s ease, padding-bottom .5s ease;
	    transition: padding-top .5s ease, padding-top .5s ease, padding-bottom .5s ease;
	    padding-top: 6px;
	    padding-bottom: 6px;
	}

    #wrapwrap {
        padding-top: 100px;
    }

}

@media screen and (max-width: 767px){
	#wrapwrap {
		padding-top: 100px;
	}

	.navbar-fixed-top {
		z-index: 999;
	}
}